/* Extra large devices (large laptops and desktops) */
@media only screen and (max-width: 1200px) {
    
    /* FIXING HEADERS  */
    .header--line.animations--visible {
        width: 18%;
    }

    .header--title {
        width: 62%;
    }
    
    .why--line.animations--visible {
        width: 18%;
    }

    .why--title.animations--visible {
        width: 62%;
    }
    
    /* FIXING WHAT IS THE PRINCE  */
    .prince--icon img {
        width: 150px;
    }
    
    .prince--title {
        font-size: 76px;
    }
    
        
    .hamburger {
        display: block;
    }
    
    .navbar--wide {
        display: none;
    }
    
    /* FOOTER */
    .footer ul {
        margin-right: 20px;
    }
    
    .footer--row img {
        height: 100px;
    }

}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 992px) {
    /* FIXING HEADERS  */
    .header--line.animations--visible {
        width: 10%;
    }

    .header--title {
        width: 80%;
    }
    
    .why--line.animations--visible {
        width: 10%;
    }

    .why--title.animations--visible {
        width: 80%;
    }
    
    /* FIXING WHAT IS THE PRINCE  */
    .prince--icon img {
        width: 100px;
    }
    
    .prince--title {
        font-size: 66px;
    }
    
    /* FOOTER */
    .footer--logo {
        display: none;
    }
}

/* Medium devices (landscape tablets) */
@media only screen and (max-width: 768px) {
    /* FIXING HEADERS  */
    .header--line.animations--visible {
        width: 0%;
    }

    .header--title {
        width: 100%;
    }
    
    .why--line.animations--visible {
        width: 0%;
    }

    .why--title.animations--visible {
        width: 100%;
    }
    
    /* FIXING WHAT IS THE PRINCE  */
    .prince--icon img {
        width: 75px;
    }
    
    .prince--title {
        font-size: 48px;
    }


    .footer--button a {
        font-size: 12px;
    }

    .footer ul {
        margin-right: 15px;
    }

    .footer li a {
        font-size: 12px;
    }

    .footer li b a {
        font-size: 12px;
    }
    
    .footer ul img {
        height: 12px;
    }
    
    
    .meet--chart img {
        height: 300px;
    }

}

/* Small devices (portrait tablets and large phones */
@media only screen and (max-width: 600px) {
    /* FIXING ADVERTISING  */
    .advertising--title {
        font-size: 44px;
    }
    .advertising--slogan {
        font-size: 30px;
    }
    .advertising--optbreak {
        display: block;
    }
    
    /* FIXING WHAT IS THE PRINCE  */
    .prince--icon img {
        margin-top: 25px;
    }

    .prince--header {
        margin-bottom: 25px;
    }

    .section {
        padding: 30px;
    }
    
    .footer ul {
        line-height: 1;
    }
    
    .footer li {
        float: left;
        margin: 5px;
    }

    .footer--break {
        display: block;
    }
    
    .meet--chart img {
        height: 200px;
    }
}


/* Small devices (portrait tablets and large phones */
@media only screen and (max-width: 400px) {
    .meet--chart img {
        height: 160px;
    }
}




