/* COLORS */
/* LIGHT GRAY: #F7F8FA */
/* ORANGE: #E1712F */

* {
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

a {
    color: #E1712F;
    text-decoration: none;
}


.section {
    padding: 100px 50px 100px 50px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}


.header--line {
    display: flex;
    border-bottom: 2px solid #E1712F;
    font-size: 24px;
    width: 0%;
    transition: width 0.75s cubic-bezier(0.5, 1, 0.89, 1);
    transition-delay: 0.5s;
}

.animations--visible.header--line {
    width: 25%;
}

.header--title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    width: 50%;
    opacity: 0;
    transition: opacity 1s;
}

.animations--visible.header--title {
    opacity: 1;
}

.asterisk {
    font-size: 10px;
}

/**************************************************************
 *  NAVBAR
 *************************************************************/

navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #FFF;
    box-shadow: 0 2px 2px #EFF0F2;
    z-index: 9999;
    font-size: 22px; 
}

.navbar--top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;   
    height: 60px;
    box-shadow: 0 2px 2px #EFF0F2;
}

.navbar--tag {
    margin-left: 40px;
    margin-right: auto;
}

.navbar--top a {
    color: #000;
    margin-right: 20px;
}


.navbar--wide {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar--wide li {
    border-radius: 10px;
    display: inline;
    float: right;
}

.navbar--wide li a {
    color: #000;
    border-bottom: 0px solid #E1712F;
    transition: border-bottom 0.2s;
    font-weight: 600;
}

.navbar--wide li a:hover {
    border-bottom: 2px solid #E1712F;
    transition: border-bottom 0.4s;
}

.hamburger {
    display: none;
    height: 30px;
}

#navbar--narrow {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

#navbar--narrow li {
    border-radius: 10px;
    margin: 10px 0px 10px 20px;
    padding: 5px;
}

#navbar--narrow li a {
    color: #000;
    border-bottom: 0px solid #E1712F;
    transition: border-bottom 0.2s;
    font-weight: 600;
}

#navbar--narrow li a:hover {
    border-bottom: 2px solid #E1712F;
    transition: border-bottom 0.4s;
}

/**************************************************************
 *  ADVERTISING
 *************************************************************/


.advertising {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url(newspaper.png);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: flex-start;
    min-height: 100vh;
}

.advertising--banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 175px;
}

.advertising--icon {
    margin-right: 20px;
}

.advertising--icon img {
    height: 100px;
}

.advertising--right {
    display: flex;
    flex-flow: column nowrap;
}

.advertising--title {
    color: #FFF;
    border-bottom: 1px solid #FFF;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.advertising--slogan {
    color: #FFF;
    font-family: minion-pro;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.4;
}

.advertising--breaking b {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
}

.advertising--breaking div {
    position: relative;
}

.advertising--headline {
    color: #FFF;
    font-family: minion-pro;
    font-style: italic;
    font-size: 36px;
    font-weight: 700;
}

#advertising-displayed-headline {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* used for maintaining consistent height */
.advertising--headline--invis {
    visibility: hidden;
    margin-bottom: 5px;
}

.advertising--optbreak {
    display: none;
}

@media(min-width: 640px) {
    .advertising--headline {
        
    }
}

/**************************************************************
 *  PRINCE
 *************************************************************/

.prince {
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
}

.prince--header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.prince--title {
    font-weight: 600;
    color: #FFF;
    font-size: 88px;
    margin-right: auto;
}

.prince--icon img {
    width: 300px;
}

.prince--text {
    color: #FFF;
    font-size: 28px;
    padding-bottom: 50px;
}

.prince--text a {
    overflow-wrap: break-word;
}

/**************************************************************
 *  REACH
 *************************************************************/

.reach {
    background-color: #F7F8FA;
    display: flex;
    flex-flow: column nowrap;
}

.reach--row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.reach--icon {
    margin-bottom: 10px;
}

.reach--icon img {
    width: 100px;
}

.reach--col {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 350px;
    margin-bottom: 25px;
    opacity: 0;
    transition: opacity 1.5s;
    transition-delay: 0.25s;
}

.reach--col.animations--visible {
    opacity: 1;
}

.reach--stat {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px;
}

.reach--stat--emph {
    color: #E1712F;
    font-size: 36px;
}

/**************************************************************
 *  MEET PRINCETON
 *************************************************************/

.meet {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.meet--intro {
    background-color: #F7F8FA;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 80vw;
    opacity: 0;
    transition: opacity 1.5s;
    transition-delay: 0.25s;
}

.meet--intro.animations--visible {
    opacity: 1;
}

.meet--card--innershell--intro {
    background-color: #F7F8FA;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    font-weight: 400;
}


.meet--card--innershell {
    background-color: #F7F8FA;
    border-radius: 20px;
    margin: 25px;
    padding: 15px;
    font-weight: 400;
    text-align: center;
}

.meet--charts {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.meet--chart {
    display: flex;
    overflow: hidden;
    margin: 25px 0 25px 0;
    opacity: 0;
    transition: opacity 1s ease-in;
    transition-delay: 0.25s;
}

.meet--chart.animations--visible {
    opacity: 1;
}


.meet--chart img {
    height: 325px;
}

.meet--cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.meet--card {
    background-color: #F7F8FA;
    border-radius: 20px;
    width: 80vw;
    margin: 10px;
    opacity: 0;
    transition: opacity 1.1s;
    transition-delay: 0.5s;
}

.meet--card.animations--visible {
    opacity: 1;
}


.meet--card--stat {
    color: #E1712F;
    font-size: 48px;
    font-weight: 600;
}

.meet--card--stat--sm {
    color: #E1712F;
    font-size: 24px;
    font-weight: 600;
}

.meet--card--img {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

@media(min-width: 640px) {
    .meet--intro {
        width: 75%;
    }

    .meet--card--innershell--intro {
        margin: 25px;
        padding: 15px;
        text-align: center;
    }

    .meet--card--innershell {
        height: 125px;
    }

    .meet--card {
        width: 350px;
    }
}


/**************************************************************
 *  WHY?
 *************************************************************/

.why {
    background-color: #E1712F;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center
}

.why--header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.why--line {
    display: flex;
    font-size: 24px;
    border-bottom: 2px solid #FFF;
    width: 0%;
    transition: width 2s;
    transition-delay: 0.5s;
}

.why--line.animations--visible {
    width: 25%;
}

.why--title {
    display: flex;
    font-size: 48px;
    font-weight: 600;
    width: 50%;
    justify-content: center;
    color: #FFF;
    opacity: 0;
    transition: opacity 1s;
}

.why--title.animations--visible {
    opacity: 1;
}

.why--text {
/*    display: flex;*/
    color: #FFF;
}

.why--text a {
    overflow-wrap: break-word;
    color: #FFF;
    font-weight: 500;
}

@media(min-width: 640px) {
    .why--text {
        width: 80%;
        text-align: center;
    }
}

/**************************************************************
 *  RATES
 *************************************************************/
 .rates {
    background-color: #F7F8FA;
    flex-flow: column nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rates--select--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 550px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    transition: margin-top 0.25s ease-in, margin-bottom 0.25s ease-in;
}

.rates--select--container.none--selected {
   margin-top: 100px;
   margin-bottom: 150px;
}

.rates--select--container div {
    margin-right: 0.5rem;
}

.rates--select {
    background-color: #E1712F;
    border: 0px;
    color: #FFF;
    border-radius: 5px;
    padding: 0.35rem;
    padding-right: 1.5rem;
    margin-top: 0.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 13.5px top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
    word-wrap: break-word;
}

@media (max-width: 425px) {
    .rates--select {
        font-size: 18px;
    }
}

/* IE compat */
.rates--select::-ms-expand {
    display: none;
}

.rates--text {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.rates--text a {
    font-size: 20px;
}

.rates--select--option {
    background-color: #FFF;
    color: #000;
}

.rates--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rates--rate {
    display: flex;
    flex-direction: column;
}

.rates--card--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    margin: 17.5px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 0.25s;
}

.animations--visible.rates--card--container {
    opacity: 1;
}


.rates--card--container img {
    width: inherit;
    object-fit: contain;
}

@media (min-width: 640px) {
    .rates--card--container {
        width: 35vw;
    }
}

@media (min-width: 1024px) {
    .rates--card--container {
        width: 25vw;
    }
}

.rates--card {
    border-radius: 10px;
    flex-grow: 1;
    background-color: #FFF;
    border-color: steelblue;
    padding: 25px;
    margin: 25px;
    width: inherit;
    cursor: pointer;
}

.rates--card:hover {
    background-color: #ebebf0;
}

.rates--card--noclick {
    cursor: default;
}

.rates--card--noclick:hover {
    background-color: #FFF;
}

.rates--type {
    color: #E1712F;
    font-size: 1.25em;
    text-transform: uppercase;
    align-self: center;
    font-weight: 600;
}

.rates--subtype--container {
    display: flex;
    margin-top: 0.25rem;
}

.rates--subtype {
    display: inline;
    font-size: 1.125em;
    text-transform: capitalize;
    margin-right: 1em;
}

.rates--cost {
    font-size: 1.2em;
    text-transform: capitalize;
    color: #E1712F;
    margin-left: auto;
}

/**************************************************************
 *  MODAL
 *************************************************************/

.Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.Modal-content {
  background-color: #FFF;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
}

.ModalOpen { overflow: hidden; }

.is-hidden { display: none; }

.is-visuallyHidden { opacity: 0; }

.Close {
  color: #E1712F;
  float: right;
  font-size: 16px;
}

.Close:hover, .Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#modal--header {
    color: #E1712F;
    font-size: 1.25em;
}

#modal--descrip {
    text-align: justify;
    font-size: 16px;
}

/**************************************************************
 *  FOOTER
 *************************************************************/

.footer {
    background-color: #000;
    color: #FFF;
}

.footer--row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.footer--logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer--row img {
    height: 200px;
    padding-left: 35px;
    padding-right: 35px;
    border-right: 1px solid #FFF;
    margin-right: 50px;
}

.footer--button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #E1712F;
    padding: 10px;
    margin-right: 50px;
}

.footer--button a {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
}

.footer ul {
    list-style-type: none;
    line-height: 1.5;
    margin-right: 50px;
}

.footer ul img {
    height: 15px;
    filter: invert(100%);
    margin: 0;
    padding-left: 0px;
    padding-right: 10px;
}

.footer ul img:hover {
    filter: invert(75%);
}

.footer li a {
    font-size: 15px;
    color: #FFF;
}

.footer li b a {
    font-weight: 700;
    font-size: 15px;
    color: #FFF;
}

.footer li a:hover {
    color: #E0E0E0;
}

.footer li b a:hover {
    color: #E0E0E0;
}

.footer--break {
    display: none;
}
