<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="normalize.css">
        <link rel="stylesheet" href="https://use.typekit.net/gkx8zdh.css">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="stylesheet" type="text/css" href="queries.css">
        <link href="https://css.gg/info.css" rel="stylesheet">
        <script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous"></script>
        <link rel="icon" href="https://assets.dailyprincetonian.com/common/tiger-black-on-white-small.png"
            type="image/gif">
        <title>Media Kit | The Princetonian</title>

        <script>
            const advertisementIdToPopupDescription = {};
            let popper = null;

            function showAdvertisementPopup(advertisementId) {
                document.querySelector("#advertisement-popup").style.display = "block";
                if (popper) popper.destroy();
                
                document.querySelector("#advertisement-popup > p").innerHTML = advertisementIdToPopupDescription[advertisementId].replaceAll("\n", "<br>");

                popper = Popper.createPopper(
                    document.querySelector(`.advertisement${advertisementId}-popup-button`), 
                    document.querySelector("#advertisement-popup"),
                    {
                        placement: "top-end",
                        modifiers: [
                            {
                                name: "offset",
                                options: {
                                    offset: [0, 26],
                                },
                            },
                        ]}
                );
            }

            function hideAdvertisementPop() {
                document.querySelector("#advertisement-popup").style.display = "none";
            }

            function zoomIntoPicture(event) {
                // Hide original image.
                event.target.style.opacity = "0";

                const zoomedImage = document.createElement("img");
                zoomedImage.classList.add("zoomed-image");
                zoomedImage.setAttribute("data-advertisement-id", event.target.getAttribute("data-advertisement-id"));
                zoomedImage.src = event.target.src;
                zoomedImage.style.top = event.target.getBoundingClientRect().top + "px";
                zoomedImage.style.left = event.target.getBoundingClientRect().left + "px";
                zoomedImage.style.width = event.target.getBoundingClientRect().width + "px";                
                zoomedImage.style.height = event.target.getBoundingClientRect().height + "px";                
                
                // Prevent clicking on screen while zooming in.
                document.querySelector("#zoom-screen-overlay").style.pointerEvents = "all";
                document.querySelector("#zoom-screen-overlay").style.opacity = "1";


                // Zoom into image. setTimeout to allow for the image to appended to the DOM first.
                setTimeout(() => {
                    zoomedImage.style.top = "0";
                    zoomedImage.style.left = "0";
                    zoomedImage.style.width = "100vw";
                    zoomedImage.style.height = "100vh";
                }, 0);

                document.body.append(zoomedImage);
            }

            function unzoomPicture() {
                const zoomedImage = document.querySelector(".zoomed-image");
                const originalImageAdvertismementId = zoomedImage.getAttribute("data-advertisement-id");

                document.querySelector("#zoom-screen-overlay").style.pointerEvents = "none";
                document.querySelector("#zoom-screen-overlay").style.opacity = "0";
                document.querySelector(`[data-advertisement-id="${originalImageAdvertismementId}"]`).style.opacity = "1";
                zoomedImage.remove();
            }

            function showAdvertisementsForAudienceId(audienceId) {
                document.querySelectorAll(".advertisements-card-container").forEach((element) => {
                    element.setAttribute("hidden", "");
                });

                document.querySelector(`.audience${audienceId}`).removeAttribute("hidden");
                document.querySelector(".rates--select--container").scrollIntoView();


                // Hardcoded.
                if (audienceId == 3)
                    document.querySelector(".rates--container--recruiter--plus").removeAttribute("hidden");
            }
        </script>
    </head>

    <body>
        <div id="zoom-screen-overlay" onclick="unzoomPicture()"></div>
        <div id="advertisement-popup"><p style="font-size: 16px;"></p><div id="advertisement-popup-arrow" data-popper-arrow></div></div>

        <navbar>
            <div class="navbar--top">
                <div class="navbar--tag"><a href="#top"><img
                            src="https://assets.dailyprincetonian.com/common/tiger-black-on-white.png"
                            style="height: 40px;"></a></div>
                <div class="navbar--wide">
                    <li><a href="#about">About</a></li>
                    <li><a href="#reach">Reach</a></li>
                    <li><a href="#meet">Meet Princeton</a></li>
                    <!-- <li><a href="#why">48U Studios</a></li> -->
                    <li><a href="#rates">Rates</a></li>
                    <!-- <li><a href="#submit" style="margin-left: auto;">Submit an Ad</a></li> -->
                </div>
                <a href="javascript:void(0);" onclick="toggleNavbar()"><img
                        src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/hamburger.png"
                        class="hamburger"></a>
            </div>
            <ul id="navbar--narrow">
                <li><a href="#about">About</a></li>
                <li><a href="#reach">Reach</a></li>
                <li><a href="#meet">Meet Princeton</a></li>
                <!-- <li><a href="#why">48U Studios</a></li> -->
                <li><a href="#rates">Rates</a></li>
                <!-- <li><a href="#submit">Submit an Ad</a></li> -->
            </ul>
        </navbar>

        <!-- ADVERTISING    -->
        <div class="advertising section" id="top">
            <div class="advertising--special--ad">
                <a href="#rates">&darr;&nbsp;Advertise with The Prince this fall&nbsp;&darr;</a>
            </div>
            <div class="advertising--banner">
                <div class="advertising--icon">
                    <img src="https://assets.dailyprincetonian.com/common/tiger-black-on-white.png" alt="Prince Logo">
                </div>
                <div class="advertising--right">
                    <div class="advertising--title">
                        MEDIA KIT
                    </div>
                    <div class="advertising--slogan">
                        We have the stories.<br>
                        You have the ads.
                    </div>
                </div>
            </div>
            <div class="advertising--breaking">
                <b>BREAKING&nbsp;&nbsp;&nbsp;</b>
                <span class="advertising--optbreak"><br></span>
                <div>
                    <!-- First span is invisible, but takes layout space, ensuring no text shifting -->
                    <!-- Second span is visible, but does not take up layout space -->
                    <span class="advertising--headline advertising--headline--invis">Supreme Court rules in favor of U.,
                        temporarily protects status of DACA recipients</span>
                    <span class="advertising--headline" id="advertising-displayed-headline">U. makes Juneteenth a paid
                        day
                        off</span>
                </div>
            </div>
        </div>

        <!-- WHAT IS THE PRINCE?    -->
        <div class="prince section" id="about">
            <div class="prince--header">
                <div class="prince--title">
                    What is the ‘Prince’?
                </div>
                <div class="prince--icon">
                    <img src="https://assets.dailyprincetonian.com/common/tiger-black-on-white.png" alt="Prince Logo">
                </div>
            </div>
            <div class="prince--text">
                The Daily Princetonian is Princeton University’s leading daily publication. Founded in 1876, the
                ‘Prince’ is
                student-run and operates independently of the University. Though our focus has traditionally been on the
                print newspaper, we’ve
                wholeheartedly embraced online journalism, with over 1.5 million site visits in the first half of 2020.
                We’ve gained a larger audience through social media platforms like Instagram, Facebook, and Twitter.
                 The
                ‘Prince’
                strives to achieve high journalistic standards and drive on-campus dialogue about pressing issues.
            </div>
        </div>

        <!-- OUR REACH    -->
        <div class="reach section" id="reach">
            <div class="header">
                <div class="header--line">
                    &nbsp;
                </div>
                <div class="header--title">
                    OUR REACH
                </div>
                <div class="header--line">
                    &nbsp;
                </div>
            </div>
            <!-- FIRST ROW OF REACH    -->
            <div class="reach--row">
                <!-- INTERNET    -->
                <div class="reach--col">
                    <div class="reach--icon"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/window.jpg"
                            alt="Window Icon"></div>
                    <div class="reach--stat"><span class="reach--stat--emph">365K&nbsp;</span>views per month</div>
                    <div class="reach--stat"><span class="reach--stat--emph">100K&nbsp;</span>views on top articles
                    </div>
                    <div class="reach--stat"><span class="reach--stat--emph">44K&nbsp;</span>impressions per day</div>
                    <div class="reach--stat"><span class="reach--stat--emph">1.5M&nbsp;</span>views in 2020*</div>
                    <div class="reach--stat"><span class="reach--stat--emph">750K&nbsp;</span>new users in 2020*</div>
                    <div class="reach--stat"><span class="asterisk">* last updated 07/26/2020</span></div>
                </div>
                <!-- TWITTER    -->
                <div class="reach--col">
                    <div class="reach--icon"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/twitter.png"
                            alt="Twitter Icon"></div>
                    <div class="reach--stat"><span class="reach--stat--emph">15K&nbsp;</span>followers</div>
                    <div class="reach--stat"><span class="reach--stat--emph">393K&nbsp;</span>impressions per month
                    </div>
                    <div class="reach--stat"><span class="reach--stat--emph">156K&nbsp;</span>impressions in May 2021
                    </div>
                    <!--        <div class="reach&#45;&#45;stat"><span class="reach&#45;&#45;stat&#45;&#45;emph">2.5K&nbsp;</span>profile visits in June</div>-->
                </div>
                <!-- INSTAGRAM    -->
                <div class="reach--col">
                    <div class="reach--icon"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/ig.png"
                            alt="IG Icon">
                    </div>
                    <div class="reach--stat"><span class="reach--stat--emph">5.4K&nbsp;</span>followers</div>
                    <div class="reach--stat"><span class="reach--stat--emph">4K&nbsp;</span>user views per month</div>
                    <div class="reach--stat"><span class="reach--stat--emph">113K&nbsp;</span>impressions per month
                    </div>
                    <div class="reach--stat"><span class="reach--stat--emph">5K&nbsp;</span>impressions per post</div>
                </div>
            </div>

            <!-- SECOND ROW OF REACH    -->
            <div class="reach--row">
                <!-- EMAIL    -->
                <div class="reach--col">
                    <div class="reach--icon"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/email.png"
                            alt="Email Icon"></div>
                    <div class="reach--stat"><span class="reach--stat--emph">2.8K&nbsp;</span>newsletter subscribers
                    </div>
                    <div class="reach--stat"><span class="reach--stat--emph">9.6%&nbsp;</span>click rate*</div>
                    <div class="reach--stat"><span class="reach--stat--emph">55%&nbsp;</span>open rate**</div>
                    <div class="reach--stat"><span class="asterisk">* 2&times; the industry average</span></div>
                    <div class="reach--stat"><span class="asterisk">** on breaking news, 2&times; the industry
                            average</span></div>
                </div>
                <!-- PRINT    -->
                <div class="reach--col">
                    <div class="reach--icon"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/print.png"
                            alt="Print Icon"></div>
                    <div class="reach--stat"><span class="reach--stat--emph">1.2K&nbsp;</span>pre-COV19 daily copies
                    </div>
                    <div class="reach--stat"><span class="reach--stat--emph">8K&nbsp;</span>copies sent to students
                        &amp;
                        subscribers each month*</div>
                    <div class="reach--stat"><span class="asterisk">* starting 09/2020</span></div>
                </div>
                <!-- FACEBOOK    -->
                <div class="reach--col">
                    <div class="reach--icon"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/facebook.png"
                            alt="Facebook Icon"></div>
                    <div class="reach--stat"><span class="reach--stat--emph">6.6K&nbsp;</span>unique users per month
                    </div>
                    <div class="reach--stat"><span class="reach--stat--emph">111.3K&nbsp;</span>engagements per month
                    </div>
                </div>
            </div>
        </div>

        <!-- MEET PRINCETON    -->
        <div class="meet section" id="meet">
            <div class="header">
                <div class="header--line">
                    &nbsp;
                </div>
                <div class="header--title">
                    MEET PRINCETON
                </div>
                <div class="header--line">
                    &nbsp;
                </div>
            </div>
            <div class="meet--intro">
                <div class="meet--card--innershell--intro">
                    The 'Prince' provides unmatched access to the Princeton University community, including Princeton
                    parents, students, faculty, staff, and alumni.
                </div>
            </div>
            <div class="meet--cards">
                <div class="meet--card">
                    <div class="meet--card--innershell">
                        <span class="meet--card--stat">4<sup style="color:#E1712F;">th</sup></span>
                        <br>
                        oldest college in the United States
                    </div>
                </div>
                <div class="meet--card">
                    <div class="meet--card--innershell">
                        <span class="meet--card--stat">#1</span>
                        <br>
                        American undergraduate university* <br>
                        <span class="asterisk">*U.S. News</span>
                    </div>
                </div>
                <div class="meet--card">
                    <div class="meet--card--innershell">
                        <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/prof.png"
                            class="meet--card--img"><span class="meet--card--stat">1260</span>
                        faculty&nbsp;&nbsp;&nbsp;&nbsp;<br>
                        <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/cap.png"
                            class="meet--card--img"><span class="meet--card--stat">&nbsp;8200</span> students*<br>
                        <span class="asterisk">* 5300 undergraduate, 2900 graduate</span>
                    </div>
                </div>
                <div class="meet--card">
                    <div class="meet--card--innershell">
                        UNDERGRAD<br>
                        <span class="meet--card--stat--sm">50%</span>
                        <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/male.png"
                            class="meet--card--img"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/female.webp"
                            class="meet--card--img">
                        <span class="meet--card--stat--sm">50%</span><br>
                        GRAD<br>
                        <span class="meet--card--stat--sm">60%</span>
                        <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/male.png"
                            class="meet--card--img"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/male.png"
                            class="meet--card--img"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/male.png"
                            class="meet--card--img">
                        <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/female.webp"
                            class="meet--card--img"><img
                            src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/female.webp"
                            class="meet--card--img">
                        <span class="meet--card--stat--sm">40%</span>

                        <!--  THIS LAST ONE IS INVISIBLE, JUST FOR ALIGNMENT  -->
                        <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/female.webp"
                            class="meet--card--img" style="color: #FFF;opacity: 0;">
                    </div>
                </div>
                <div class="meet--card">
                    <div class="meet--card--innershell">
                        <span class="meet--card--stat">20 y.o.</span>
                        <br>
                        average age in Princeton
                    </div>
                </div>
                <div class="meet--card">
                    <div class="meet--card--innershell">
                        <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/donkey.png"
                            class="meet--card--img"><span class="meet--card--stat">&nbsp;92%</span>
                        liberal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                        <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/elephant.png"
                            class="meet--card--img"><span class="meet--card--stat">&nbsp;8%</span> conservative<br>
                    </div>
                </div>





            </div>
            <div class="meet--charts">
                <div class="meet--chart">
                    <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/careers.png"
                        alt="Chart">
                </div>
                <div class="meet--chart">
                    <img src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/majors.png"
                        alt="Chart">
                </div>
            </div>
        </div>

        <!-- WHY?    -->
        <!-- <div class="why section" id="why">
            <div class="header">
                <div class="why--line">
                    &nbsp;
                </div>
                <div class="why--title">
                    48U Studios
                </div>
                <div class="why--line">
                    &nbsp;
                </div>
            </div>
            <div class="why--text">
                For over a century, the ‘Prince' has helped businesses recruit talent from the Princeton undergraduate
                and
                graduate student bodies through traditional advertising. Today, we are excited to offer premium custom
                content through 48U Studios. 48U
                Studios offers recruiters creative ways to stand out from the hundreds of businesses that attend
                Princeton
                career fairs and subscribe to online recruiting services. From articles about daily work life to feature
                video interviews with current
                employees, the creative staff at 48U Studios will work with you to reach Princeton students. To see the
                48U
                Studios portfolio, or to inquire about working with us, email us at <a
                    href="mailto:business@dailyprincetonian.com">business@dailyprincetonian.com</a>.
            </div> 
        </div> -->

        <!-- RATES -->
        <div class="rates section" id="rates">
            <div class="header">
                <div class="header--line">
                    &nbsp;
                </div>
                <div class="header--title">
                    ADVERTISING RATES
                </div>
                <div class="header--line">
                    &nbsp;
                </div>
            </div>
            <div class="rates--select--container none--selected">
                <div class="rates--text">
                    <b>Please contact <a href="mailto:business@dailyprincetonian.com"><b>business@dailyprincetonian.com</b></a> to book your advertisements.</b>
                    <br><br>
                    All digital advertisements can link to your website. Additionally, all digital advertisement
                    purchases
                    come with a complementary analytics report with key statistics, including impressions (views) and
                    clicks.
                </div>
                <div>I am a</div>
                <select class="rates--select" onchange="showAdvertisementsForAudienceId(this.selectedIndex - 1)">
                    <option hidden selected disabled value class="rates--select--option">—— Select an Option ——</option>
                    {% for audience in audiences %}
                    <option value="{{ audience }}" class="rates--select--option" id="rates__audience{{ audience.id }}">{{ audience.name }}</option>
                    {% endfor %}
                </select>
            </div>

            


            <div class="advertisements-card-container rates--container--recruiter--plus" hidden>

                <div class="rates--recruiter--text" id="rates--recruiter--text">
                    <h3>Fall Recruiting Calendar</h3>
                    <table style="width:100%">
                        <tr>
                            <td style="text-align: right;vertical-align:top;width:135px;"><b>Aug. 17</b></td>
                            <td>Fall recruiting begins; full-time and internship positions for campus recruiting posted
                                in
                                Handshake will become visible to all students.</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;vertical-align:top;width:135px;"><b>Sep. 2</b></td>
                            <td>Information sessions for full-time and internship positions begin.</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;vertical-align:top;width:135px;"><b>Sep. 11</b></td>
                            <td>Fall HireTigers Career Fair (no other recruiting event to be scheduled).</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;vertical-align:top;width:135px;"><b>Sep. 14-17</b></td>
                            <td>Coffee Chat Week (employers can register through Handshake).</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;vertical-align:top;width:135px;"><b>Sep. 21</b></td>
                            <td>Campus interviews for full-time and internship positions begin.</td>
                        </tr>
                    </table>
                    <h3>Recent Recruitment Advertising</h3>
                    We recently held a 1-day advertising campaign for a fall term internship on our social media and
                    email
                    platforms: Facebook, Instagram, and the newsletter. Our ads yielded 29% of their applicant pool.
                    <div class="rates--recruiter--row">
                        <ul>
                            <h4>Facebook</h4>
                            <li>1920 people reached</li>
                            <li>204 post clicks, including 45 clicks on the link</li>
                        </ul>
                        <ul>
                            <h4>Newsletter</h4>
                            <li>Opened by 2,024 users</li>
                            <li>Puentes ad generated 10 clicks</li>
                        </ul>
                        <ul>
                            <h4>Instagram</h4>
                            <li>Reached 1,440 unique accounts</li>
                            <li>Generated 38 profile visits to the Puentes page</li>
                            <li>Bookmarked by 24</li>
                            <li>Shared by 19</li>
                        </ul>
                    </div>
                    <h3>Packages</h3>
                    <div class="rates--recruiter--packages">
                        <h4><b>Direct to Student 2 Week Campaign</b>&nbsp;&nbsp;&nbsp;$1999</h4>
                        <b>20% off</b> 2 weeks of social media &amp; newsletter
                        <br><br>
                        <h4><b>All-Inclusive 1 Week Digital Blast</b>&nbsp;&nbsp;&nbsp;$2339</h4>
                        <b>25% off</b> Email Newsletter, Website, Social Medias
                    </div>
                </div>
            </div>




            <div class="advertisements-container">

                <!-- Advertisement Card Containers by Audiences -->
                {% for audience_id in range(advertisements|length) %}
                    <div class="advertisements-card-container audience{{ audience_id }}" hidden>
    
                        <!-- Advertisement Cards -->
                        {% for advertisement in advertisements[audience_id] %}
                            <div class="advertisements-container__card">
                                <div class="advertisements-container__card__image">
                                    <img style="height: 368px;" src="{{ advertisement.image_url }}" onclick="zoomIntoPicture(event)" data-advertisement-id="{{ advertisement.id }}">
                                </div>
                                
                                <div class="advertisements-container__card__info">
                                    <!-- Title -->
                                    <div class="advertisement-container__card__title">
                                        <h3>{{ advertisement.title }}</h3>
    
                                        <!-- Info Icon if Popup exists -->
                                        {% if advertisement.popup %}
                                            <script>
                                                advertisementIdToPopupDescription["{{ advertisement.id }}"] = "{{ advertisement.popup | e | replace('\n', '\\n') }} ";
                                            </script>
    
                                            <div>
                                                <i class="gg-info advertisement{{ advertisement.id }}-popup-button"
                                                   onmouseenter="showAdvertisementPopup('{{ advertisement.id }}')"
                                                   onmouseleave="hideAdvertisementPop()">
                                                </i>
                                            </div>
                                        {% endif %}
                                    </div>
    
                                    <!-- Options -->
                                    {% for option in advertisement.options %}
                                        <div class="advertisement-container__card__options">
                                            <p>{{ option.label }}</p>
                                            <p>{{ "${:,.2f}".format(option.cost) }}</p>
                                        </div>
                                    {% endfor %}
    
                                    <!-- Additional Information -->
                                    {% if advertisement.additional_information %}
                                        {% autoescape off %}
                                        <div class="advertisement-container__card__additional-information">
                                            <p>{{ advertisement.additional_information|replace("\n", "<br>") }}</p>
                                        </div>
                                        {% endautoescape %}
                                    {% endif %}
                                        
                                    <!-- Asterisks -->
                                    {% if advertisement.asterisks %}
                                        <div class="advertisement-container__card__asterisks">
                                            <ul>
                                                {% for asterisk in advertisement.asterisks %}
                                                    <li>{{ asterisk.label }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
    
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        <!-- SUBMIT    -->
        <!-- <div class="submit section" id="submit">
            <div class="header">
                <div class="header--line">
                    &nbsp;
                </div>
                <div class="header--title">
                    Submit an Ad
                </div> 
                <div class="header--line">
                    &nbsp;
                </div>
            </div>
            <div class="submit--text">
                Submit an advertisement for a <span style="font-weight: 900;">fall print issue</span> using the boxes
                below;
                click one to be redirected to the associated Google Form to learn more.
            </div>
            <div class="submit--buttons">
                <a href="https://docs.google.com/forms/d/1XjQ7F7TYR6-CtxRiWRtCQmcEwu9koL_zd55p4E6nus8" target="_blank"
                    class="submit--button" id="submit--button--1">Reserve Advertising Space</a>
                <a href="https://docs.google.com/forms/d/1Brp54FYj-Ysxz6hspsiPmqfpj3pV4VNSiE6lzgmBxRk" target="_blank"
                    class="submit--button" id="submit--button--2">Pay Once Advertising</a>
                <a href="https://docs.google.com/forms/d/1XNwAqP0-oY17_LQzDwDv_id7o23INXBQz1fRwvuXtBw" target="_blank"
                    class="submit--button" id="submit--button--3">Submit Artwork</a>
            </div> -->
        </div>

        <!-- FOOTER    -->
        <div class="footer section">
            <div class="footer--row">
                <div class="footer--logo">
                    <img src="https://assets.dailyprincetonian.com/common/tiger-black-on-white.png">
                    <div class="footer--button"><a href="http://eepurl.com/GveCn">SUBSCRIBE</a></div>
                </div>
                <ul>
                    <li><b><a href="https://www.dailyprincetonian.com/section/news">NEWS</a></b></li>
                    <li><a href="https://www.dailyprincetonian.com/section/u-affairs">U. Affairs</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/student-life">Student Life</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/grad-school">Grad School</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/local">Town</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/alumni">Alumni</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/qa">Q&amp;A</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/activism">Activism</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/usg">USG</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/research">Research</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/academics">Academics</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/obituaries">Obituaries</a></li>
                </ul>
                <ul>
                    <li><b><a href="https://www.dailyprincetonian.com/section/sports">SPORTS</a></b></li>
                    <li><a href="https://www.dailyprincetonian.com/section/sports-recaps">Recaps</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/sports-previews">Previews</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/sports-profiles">Profiles</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/on-tap">On Tap</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/sports-insidelook">Inside Looks</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/sports-columns">Columns</a></li>
                    <li><b><a href="https://www.dailyprincetonian.com/section/prospect">THE PROSPECT</a></b></li>
                    <li><a href="https://www.dailyprincetonian.com/section/arts">Arts</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/culture">Culture</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/self">Self</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/dispatches">Dispatches</a></li>
                </ul>
                <ul>
                    <li><b><a href="https://www.dailyprincetonian.com/section/opinion">OPINION</a></b></li>
                    <li><a href="https://www.dailyprincetonian.com/section/columns">Column</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/letter-to-the-editor">Letter to the
                            Editor</a>
                    </li>
                    <li><a href="https://www.dailyprincetonian.com/section/opinion-guest">Guest Submission</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/opinion-open">Open Letter</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/editorial">Editorial</a></li>
                    <li><b><a href="https://www.dailyprincetonian.com/section/special">PROJECTS</a></b></li>
                    <li><a
                            href="https://www.dailyprincetonian.com/section/how-women-became-tigers">#HowWomenBecameTigers</a>
                    </li>
                    <li><a href="https://www.dailyprincetonian.com/section/power-of-a-united-people">Power of a United
                            People</a></li>
                    <li><a href="https://www.dailyprincetonian.com/section/in-the-nations-service">In the Nation's
                            Service</a></li>
                </ul>
                <ul>
                    <li><b><a href="https://www.dailyprincetonian.com/multimedia">MULTIMEDIA</a></b></li>
                    <li><a href="https://www.dailyprincetonian.com/page/masthead">Masthead</a></li>
                    <li><a href="https://www.dailyprincetonian.com/page/contact">Contact Us</a></li>
                    <li><a href="https://www.dailyprincetonian.com/page/advertise">Advertise</a></li>
                    <li><a href="https://theprince.princeton.edu/">Archives</a></li>
                    <li><a href="https://www.dailyprincetonian.com/page/submit">Submit a Tip</a></li>
                    <li><a href="https://www.dailyprincetonian.com/page/donate-to-the-daily-princetonian">Donate</a>
                    </li>
                    <li><a href="https://www.dailyprincetonian.com/page/privacy">Privacy</a></li>
                    <li><a href="https://www.dailyprincetonian.com/page/terms-and-conditions">Terms</a></li>
                    <li><b><a href="#">FOLLOW</a></b></li>
                    <li><a href="https://www.facebook.com/DailyPrincetonian"><img
                                src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/facebook.png"></a><a
                            href="https://www.instagram.com/dailyprincetonian/"><img
                                src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/ig.png"></a>
                    </li>
                    <li><a href="https://twitter.com/princetonian"><img
                                src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/twitter.png"></a><a
                            href="https://open.spotify.com/show/5xeaopGvoY0teJn0atpNPM"><img
                                src="https://assets.dailyprincetonian.com/business.dailyprincetonian.com/spotify.png"></a>
                    </li>
                </ul>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="FallIssue.js"></script>
        <script>
            // NAVBAR
            function toggleNavbar() {
                var x = document.getElementById("navbar--narrow");
                $('#navbar--narrow').toggle();
            }
        </script>

        <script>
            // HEADLINES
            $(document).ready(function () {
                // Change the headlines every 3 seconds.
                var headline_arr = ['U. makes Juneteenth a paid day off',
                    'Supreme Court rules in favor of U., temporarily protects status of DACA recipients',
                    'Gen. Mark Milley ’80 apologizes for his role in Trump photo-op',
                    '2020 Baccalaureate speaker Ressa ’86 found guilty of cyber libel in Philippines'
                ];
                var i = 0;

                setInterval(function () {
                    i = (i + 1) % 4;
                    $('#advertising-displayed-headline').fadeOut(function () {
                        $('#advertising-displayed-headline').text(headline_arr[i]).fadeIn();
                    });
                }, 4000);

            });
        </script>

        <script>
            // RATES
            //set to 1000 when something selected
            let timeoutLen = 0;

            function toggleVisibility(offs, on) {
                for (const off of offs) {
                    for (const elem of document.querySelectorAll(`#${off} .rates--card--container`)) {
                        elem.classList.remove('animations--visible')
                    };
                }
                setTimeout(() => {
                    for (const off of offs) {
                        document.getElementById(off).style.display = "none";
                    };
                    document.getElementById(on).style.display = "";
                }, timeoutLen);
                timeoutLen = 1000;
            };

            $(document).ready(function () {
                document.getElementById("rates--container--local").style.display = "none";
                document.getElementById("rates--container--national").style.display = "none";
                document.getElementById("rates--container--student").style.display = "none";
                document.getElementById("rates--container--recruiter--plus").style.display = "none";
                $(".rates--select").change(function () {
                    document.querySelector(".rates--select--container").classList.remove("none--selected")
                    var x = $('.rates--select option:selected').text();
                    if (x == 'Local Advertiser (Mercer County)') {
                        toggleVisibility(["rates--container--student", "rates--container--national", "rates--container--recruiter--plus"], "rates--container--local");
                    } else if (x == 'National Advertiser') {
                        toggleVisibility(["rates--container--student", "rates--container--local", "rates--container--recruiter--plus"], "rates--container--national");
                    } else if (x == 'Recruiter') {
                        toggleVisibility(["rates--container--national", "rates--container--local", "rates--container--student"], "rates--container--recruiter--plus");
                    } else {
                        toggleVisibility(["rates--container--national", "rates--container--local", "rates--container--recruiter--plus"], "rates--container--student");
                    }
                });

            });
        </script>

        <script>
            function callbackFn(entries, _observer) {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("animations--visible");
                    }
                })
            };

            let options = {
                root: null,
                rootMargin: '0px',
                threshold: 0.25
            };

            let observer = new IntersectionObserver(callbackFn, options);
            for (const query of ['.header--line', '.header--title', '.why--line', '.why--title',
                '.reach--col', '.meet--intro', '.meet--card', '.meet--chart', '.rates--card--container', '.rates--recruiter--text'
            ]) {
                document.querySelectorAll(query).forEach(elem => {
                    observer.observe(elem);
                })
            }
        </script>

    </body>

</html>